@charset "UTF-8";



.image_equipe{

width:150px;
height:150px;


}


ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:10px;
 float:left; /*pour IE*/
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 color:black;
 text-decoration:none;
 text-align:center;
 padding:5px;
 

 
 }
 ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 
 } 